<h2> Search by Animal: </h2>
<p> Type in dog, cat, bird...</p>

<%= form_tag pets_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", animal: nil %>
  </p>
<% end %>
<h1> Pick a New Pal! </h1>

 <% @pets.each do |pet| %>
 <p> <%= link_to pet.name, pet_path(pet.id) %> </p>
 <%end%>
